body {
    background-color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    color: rgb(235, 231, 231)
}

.title {
    font-size: 40px;
    color: #3498db;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.mainContainer {
    width: 75%;
    margin:auto;
    min-width: 400px;
}

a {
    color: yellow;
    text-decoration: none;
    &:visited {
        color: yellow;
    }
    &:hover {
        color: rgb(180, 180, 2);
    }
    &:focus {
        color: rgb(180, 180, 2);
    }
}

.table {
    width: 100%;
    margin: 0;
    padding: 20px;
    text-align: left;
    border: 6px solid rgba(255, 255, 0, 0.575);
    border-radius: 40px;
    
    tr {                
        td {
            padding: 6px;
            border-right: 0px;
        }           
    }

    thead {
        th {
            padding-bottom: 10px;
        }
    }

    tbody {
        tr {
            td {
                height: 28x;

                .voteButton {
                    width: 50x;
                    height: 25px;
                    border-radius: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    padding-left: 7px;
                    padding-bottom: 4px;
                    letter-spacing: 2px;
                    cursor: pointer;
                    color: white;
                    text-transform: uppercase;
                    background-color: rgba(150, 247, 182, 0.247);
                    border: 3px solid rgb(75, 177, 92);
                    &:hover {
                    background-color: rgba(75, 177, 92, 0.247);
                    } 
                }
            }

            .voteCell {
                width: 28px;
            }   

            .voteButtonText {
                display:flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.coloringTable {
    tr {
        &:hover{
            td {
                background-color: rgba(204, 204, 6, 0.336);
            }
        }
    }
    tbody tr:nth-child(odd) {
        background-color: rgba(204, 204, 6, 0.123);}
}

.inputTable {
    tbody {
        tr {
            td {
                padding: 0px;            

                .inputField {
                    width: fit-content;
                    }
                }
            }
        }
    }

.topSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

    .left {
        flex-grow: 1;

        .infoBox, .infoBoxError {
            width: fit-content;
            border: 3px solid rgb(75, 177, 92);
            border-radius: 8px;
            padding: 15px 30px;
            background-color: rgba(150, 247, 182, 0.247);
            margin-right: 10px;
    
            .thanks {
                font-size: 16px;
                margin-bottom: 8px;
            }           
            
            .selectPub {
                font-size: 16px;
                margin-bottom: 8px;
            }
        
            .sendLinkText {
                font-size: 22px;
                display: inline-block;
            }
    
            .link {
                font-size: 22px;
                display: inline-block;
            }

            .addPubText {
                font-size: 16px;
                display: inline-block;
            }

            .error {
                font-size: 22px;
                width: fit-content;
            }
        }

        .infoBoxError {
            border: 3px solid rgb(163, 30, 41);
            background-color: rgba(163, 30, 41, 0.247);
        }
    }
    
    .buttonArea {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .btn {
            width: 130px;
            height: 50px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            letter-spacing: 2px;
            cursor: pointer;
            color: white;
            text-transform: uppercase;
        }

        .submitButton {
            background-color: rgba(150, 247, 182, 0.247);
            border: 3px solid rgb(75, 177, 92);
            &:hover {
                background-color: rgba(75, 177, 92, 0.247);
            }
        }

        .addRedirectButton {
            background-color: rgba(30, 159, 163, 0.247);
            border: 3px solid rgb(30, 159, 163);
            &:hover {
                background-color: rgba(30, 159, 163, 0.10);
            }
        }

        .refreshButton {
            background-color: rgba(30, 159, 163, 0.247);
            border: 3px solid rgb(30, 159, 163);
            &:hover {
                background-color: rgba(30, 159, 163, 0.10);
            }
        }

        .voteButton {
            background-color: rgba(150, 247, 182, 0.247);
            border: 3px solid rgb(75, 177, 92);
            &:hover {
                background-color: rgba(75, 177, 92, 0.247);
            }
        }
        .newPollButton {
            background-color: rgba(150, 247, 182, 0.247);
            border: 3px solid rgb(75, 177, 92);
            &:hover {
                background-color: rgba(150, 247, 182, 0.10);
            }
        }

        .backButton {
            background-color: rgba(163, 30, 41, 0.247);
            border: 3px solid rgb(163, 30, 41);
            &:hover {
                background-color: rgba(163, 30, 41, 0.10);
            }
        }

        .addButton {
            background-color: rgba(30, 159, 163, 0.247);
            border: 3px solid rgb(30, 159, 163);
            &:hover {
                background-color: rgba(30, 159, 163, 0.10);
            }
        }
    }
}

.wrapAddData {
    display: flex;
    width:fit-content;
    flex-wrap: wrap;
    margin:auto;
    gap: 10px;    
}

.addData {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 5px;
    margin-bottom: 8px;  
}

input[type=text] {
    outline: none;
  }

input[type=text]:focus {
    border: solid rgb(180, 180, 2);
}

@media only screen and (max-width: 750px) {
    .topSection{
        align-content: center;
        flex-direction: column;

        .infoBox, .infoBoxError {
            margin-right: 0px;
        }
    }
    
    .left {
        margin-bottom: 20px;
    }
    
    .tableWrapper {
        width: 100%;
    }

    .addressCell {
     display: none;
    }
    
    .voteCell {
        width: 1%
    }

    .nameCell {
        width: fit-content;
    }

    .googleCell {
        width: fit-content;
    }

    .inputField {
        width: fit-content;
    }
}
