{% extends "layout.html" %}

{% block head %}

    <title>Add pub</title>

{% endblock %}

{% block body %}
<div class="mainContainer">
  <form action="/add" method="post">
    <div class="topSection">
      <div class="left">
        <div class="infoBox">
          {% if message %}
          <div class="error"><h3>{{ message }}</h3></div>
          {% endif %}
          <div class="addPubText"><h2>Add new pub to database</h2></div>
          
        </div>
      </div> 
    

      <div class="buttonArea">
        <button class="btn backButton" onclick="location.href='/'">Back</button>
        <button class="btn addButton" type="submit">Add</button>
      </div>
    </div>
      

    <table class="table inputTable">
      <thead>
        <tr>
          <th> Name </th>
          <th> Address </th>
          <th> Link </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input class="inputField" type="text" name="name" required></td>
          <td><input class="inputField" type="text" name="address" required></td>
          <td><input class="inputField" type="text" name="web" required></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
{% endblock %}