{% extends "layout.html" %}

{% block head %}

    <title>Pub Crawl Poll</title>

{% endblock %}

{% block body %}
<div class="mainContainer">
    
    <div class="topSection">
      <div class="left">
        <div class="infoBox">
          {% if error %}
          <div class="error">{{ error }}</div>
          {% else %}
          <div class="selectPub">Choose a pub</div>  
          {% endif %}            
          <div class="sendLinkText">Send link to your friends: </div>
          <div class="link"><a href = http://127.0.0.1:5000/result/{{seq}}> result/{{seq}}</a></div>  
        </div>
      </div>

      <div class="buttonArea">
        <form action="/" method="post">
          <button class="btn addRedirectButton" name="add_pub">Add pub</button>
        </form>
      </div>
    </div>
    
  <form action="/" method="post">
    <div class="tableWrapper">
      <table class="table coloringTable">
        <thead>
          <tr>
            {% if not session["voted"] %}
            <th>Vote</th>
            {% endif %}
            <th> Name </th>
            <th class="addressCell"> Address </th>
          </tr>
        </thead>
        <tbody>
          {% for i in pubs_list %}
            <tr>
              {% if not session["voted"] %}
              <td class="voteCell"><button class="btn voteButton" type="submit" name="preference" value="{{ i[0] }}"><div class="voteButtonText">&#8250</div></button></td>
              {% endif %}
              <td class="nameCell"><a href = {{i[3]}} target="_blank">{{ i[1] }}</a></td>
              <td class="addressCell">{{ i[2] }}</td>                             
              <td class="googleCell"><a href="https://www.google.com/search?q={{ i[1] }}" target="_blank">Google it!</button></td>
            </tr>  
          {% endfor %}                       
        </tbody>
      </table>
    </div>
  </form>
</div>
{% endblock %}
